@model PletkaRedka.Web.ViewModels.Comments.CommentViewModel
@{
    this.ViewData["Title"] = "Добави коментар";
}

<h2 class="text-center mt-1">@this.ViewData["Title"]</h2>

<div class="col-9 mt-3">
    <form asp-controller="Comments" asp-action="Create" method="post">
        <input type="hidden" name="PostId" value="@this.Model.PostId" />
        <div class="media-body col-9 mb-2">
            <div class="mb-3">
                <label for="Content">Съдържание</label>
                <textarea name="Content" class="form-control border-info" rows="6"></textarea>
                <span validation-for="Content" class="text-danger">Полето е задължително!</span>
            </div>
            <div>
                <input type="submit" class="btn btn-info" value="Потвърди" />
            </div>
        </div>
    </form>
</div>