@{
    this.ViewData["Title"] = "За нас";
}

<h2 class="text-center mt-1">@this.ViewData["Title"]</h2>

<div class="container col-9 mt-4">
    <p>
        Този форум е предназначен за коментиране и обмяна на идеи на различни видове плетива. Всеки, който го интересува темата, може да сподели снимка, видео или мнение. Моля, прегледайте правилата на форума в раздел <a asp-controller="Home" asp-action="Privacy">Правила</a> и се регистрирайте, за да може да коментирате.
    </p>
</div>