@{
    this.ViewData["Title"] = "Правила за ползване на форума";
}

<h2 class="text-center mt-1">@this.ViewData["Title"]</h2>

<div class="mt-4">
    <ul>
        <li>
            Писането на кирилица е препоръчително!
        </li>
        <li>
            Публикуването на мнения, съдържащи обидни и неприлични фрази, расистки или други подобни определения, са забранени!
        </li>
        <li>
            Забранено е публикуването на снимки или видео на голи хора, както и такива с еротично съдържание!
        </li>
        <li>
            Забранено е публикуването на снимки или видео, съдържащи сцени на насилие!
        </li>
        <li>
            Разрешава се публикуване на теми, изрично свързани с темата на форума или темата!
        </li>
        <li>
            Публикуването на снимки се извършва, чрез копиране на адреса на снимката от друг сайт или база данни!
        </li>
    </ul>
</div>
