@model PletkaRedka.Web.ViewModels.Galleries.ShowPicturesViewModel
@{
    this.ViewData["Title"] = "Снимки";
}

bingo

@foreach (var picture in Model.Galleries)
{
    <div>@picture.CreatedOn</div>
    


}

