@model PletkaRedka.Web.ViewModels.Galleries.GetAllPicturesViewModel
@{
    this.ViewData["Title"] = "Снимки";
}

bingo


@*@foreach (var picture in Model.Galleries)
{
    <div>@picture.GalleriesDescription</div>
    <div>@picture.GalleriesImageUrl</div>
    <div>@picture.GalleriesCreatedOn</div>
}*@

