@model PletkaRedka.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<div class="text-center">
    Welcome to @Model.Name
    Lets see @Model.Description
</div>